<div class="container">
        <h1>My Hobbies</h1>
        <p>Here are some of my favorite hobbies that I enjoy in my free time:</p>
        
        <ul class="list-group">
            <li class="list-group-item">
                <i class="fas fa-users"></i> Spending Time with Family
                <p>Nothing is more important to me than spending quality time with my family.</p>
            </li>
            <li class="list-group-item">
                <i class="fas fa-basketball-ball"></i> Playing Basketball
                <p>I enjoy playing basketball occasionally, whether it's a casual game with friends or shooting hoops alone.</p>
            </li>
            <li class="list-group-item">
                <i class="fas fa-book"></i> Reading
                <p>I love immersing myself in different worlds through books, especially fiction and fantasy.</p>
            </li>
            <li class="list-group-item">
                <i class="fas fa-tv"></i> Binge-Watching TV Shows
                <p>There's nothing like getting lost in a good TV series for hours on end!</p>
            </li>
            <li class="list-group-item">
                <i class="fas fa-headphones"></i> Listening to Music
                <p>Life’s just better with a good playlist in the background!</p>
            </li>
        </ul>

        <!-- Did You Know Section -->
        <div class="alert alert-info mt-4 text-center">
            <h4 class="alert-heading"><i class="fas fa-lightbulb"></i> Did You Know?</h4>
            <p>I once binge-watched an two entire seasons of a show in one sitting. Sleep is overrated anyway. #LivingLaVidaLoca 🎬😴</p>
        </div>
    </div>

