<div class="container text-center mt-5">
  <h1>Why did you click it? 👀</h1>
  <h2>I'M SCARED NOW! 😱</h2>
  
  <%= image_tag "meme.jpg", class: "img-fluid rounded meme-image", alt: "Scary Meme" %>
  
  <div class="mt-4">
    <%= link_to favorites_path, class: "btn btn-danger btn-lg", role: "button" do %>
      <i class="fas fa-arrow-left"></i> Go Back to Safety!
    <% end %>
  </div>
</div>
